*/5 * * * * eval "export DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"; /home/jp/bin/check_battery.sh
#@reboot eval "export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"; /home/jp/bin/updated_crontab.sh
*/15 * * * * /home/jp/bin/updates_arch_combined.sh
@reboot env DISPLAY=:0 /home/jp/bin/cycle_wallpaper.sh
*/10 * * * * env DISPLAY=:0 /home/jp/bin/cycle_wallpaper.sh
